html {
    height: 100%;
}

body {
    height:130%;
    background-color: #0a0a0a;
}
text{
    fill: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
table{
    border-spacing: 10rem;
    border-collapse: separate;
}

tr{
    padding:5rem;
}

td {
    padding:5rem;
}
.navbar{
    left: 10rem;
    position:relative;
    width:82%;
    display:flex;
    justify-content: right;
    align-items: right;
}
.navbar-item :hover{
    color:#48c774;
    background-color: #1f2330
}

.logo {
    top:0px;
    position: absolute;
    max-height:7rem;
}

#login{
    margin-top:12rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #playlist-input{
    position:absolute;
    width:100%;
    top:10rem;
    display: flex;
    align-items: center;
    justify-content: center ;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  
  #playlist-input-field {
    height:40px;
    border-radius:5px;
  }
  .playlist-info{
      display: flex;
      align-items: center;
      justify-content: center ;
  }
  .playlist-image{
      height:10px;
      width:10px;
  }
.playlist-info-card{
    position:absolute;
    top:15rem;
    left:20rem;
    width:52%;
    border-spacing: 3rem;
    border-collapse: separate;
  }

  #container{
    position:absolute;
    top:35rem;
    left:12rem;
    display: flex;
    align-items: center;
    justify-content: center ;
  }
  #chart{
    margin-left: auto;
    margin-right: auto;
  }
  #x-text{
    font-size: 75%;
  }
  .arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }
  
  .arc path {
      stroke: #0a0a0a;
  }
  #playlist-description{
      color: #fff;
  }
  #playlist-followers{
    color: #fff;
}